*~
/*.anjuta*
*.o
.deps
/config.*
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/po/*.gmo
/po/.intltool-merge-cache
/po/POTFILES

desktop/ardesia.desktop
docs/ardesia.1
src/ardesia
win32/ardesia.iss
win32/build_installer
